@font-face {
  font-family: "Montserrat-SemiBold";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat-SemiBold"), url("http://10.110.107.173:8080/assets/Design.figma.contents/fonts/Montserrat-SemiBold.otf");
}
@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat-Bold"), url("http://10.110.107.173:8080/assets/Design.figma.contents/fonts/Montserrat-Bold.otf");
}
@font-face {
  font-family: "Inter-Medium";
  font-weight: 400;
  font-style: normal;
  src: local("Inter-Medium"), url("http://10.110.107.173:8080/assets/Design.figma.contents/fonts/Inter-Medium.otf");
}
@font-face {
  font-family: "Inter-SemiBold";
  font-weight: 400;
  font-style: normal;
  src: local("Inter-SemiBold"), url("http://10.110.107.173:8080/assets/Design.figma.contents/fonts/Inter-SemiBold.otf");
}
@font-face {
  font-family: "Inter-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Inter-Regular"), url("http://10.110.107.173:8080/assets/Design.figma.contents/fonts/Inter-Regular.otf");
}
@font-face {
  font-family: "Inter-Bold";
  font-weight: 400;
  font-style: normal;
  src: local("Inter-Bold"), url("http://10.110.107.173:8080/assets/Design.figma.contents/fonts/Inter-Bold.otf");
}

:root {
  --palette-background: hsla(223.99999999999997, 100%, 97.05882352941177%, 1);
  --palette-card-background: hsla(0, 0%, 100%, 1);
  --palette-text-primary: hsla(0, 0%, 20%, 1);
  --palette-text-secondary: hsla(0, 0%, 50.98039215686274%, 1);
  --palette-text-tertiary: hsla(0, 0%, 74.11764705882354%, 1);
  --palette-text-dark-contrast: hsla(0, 0%, 100%, 1);
  --palette-text-high-emphasis: hsla(223.66863905325442, 83.25123152709361%, 60.19607843137255%, 1);
  --palette-text-low-emphasis: hsla(240, 54.010695187165766%, 36.66666666666667%, 1);
  --palette-primary-color: hsla(223.66863905325442, 83.25123152709361%, 60.19607843137255%, 1);
  --palette-primary-color-ligth: hsla(223.99999999999997, 100%, 97.05882352941177%, 1);
  --palette-secondary-color: hsla(240, 54.010695187165766%, 36.66666666666667%, 1);
  --palette-tertiary-color: hsla(221.93548387096772, 86.91588785046729%, 20.980392156862745%, 1);
  --palette-red-color: hsla(0, 78.72340425531912%, 63.13725490196078%, 1);
  --palette-orange-color: hsla(28.214285714285715, 86.59793814432989%, 61.96078431372549%, 1);
  --palette-yellow-color: hsla(45.18072289156627, 86.45833333333333%, 62.35294117647059%, 1);
  --palette-green-color: hsla(145.33333333333331, 63.38028169014084%, 41.76470588235294%, 1);
  --margin-top: 40;
  --margin-top-px: 40px;
  --margin-top-pt: 40pt;
  --margin-top-em: 40em;
  --margin-top-rem: 40rem;
  --margin-bottom: 10;
  --margin-bottom-px: 10px;
  --margin-bottom-pt: 10pt;
  --margin-bottom-em: 10em;
  --margin-bottom-rem: 10rem;
  --margin-left: 10;
  --margin-left-px: 10px;
  --margin-left-pt: 10pt;
  --margin-left-em: 10em;
  --margin-left-rem: 10rem;
  --margin-right: 10;
  --margin-right-px: 10px;
  --margin-right-pt: 10pt;
  --margin-right-em: 10em;
  --margin-right-rem: 10rem;
  --layout-values-spacing-small: 8;
  --layout-values-spacing-small-px: 8px;
  --layout-values-spacing-small-pt: 8pt;
  --layout-values-spacing-small-em: 8em;
  --layout-values-spacing-small-rem: 8rem;
  --layout-values-spacing-medium: 32;
  --layout-values-spacing-medium-px: 32px;
  --layout-values-spacing-medium-pt: 32pt;
  --layout-values-spacing-medium-em: 32em;
  --layout-values-spacing-medium-rem: 32rem;
  --layout-values-spacing-large: 64;
  --layout-values-spacing-large-px: 64px;
  --layout-values-spacing-large-pt: 64pt;
  --layout-values-spacing-large-em: 64em;
  --layout-values-spacing-large-rem: 64rem;
  --strings-title: "Diez";
  --strings-caption: "Keep your designs in sync with code";
  --strings-helper: "Please Modify the contents of “src/DesignLanguage.ts”.";
  --strings-font-families: "'Montserrat-SemiBold', 'Montserrat-Bold', 'Inter-Medium', 'Inter-SemiBold', 'Inter-Regular', 'Inter-Bold', sans-serif";
}

.palette-background-background-color {
  background-color: hsla(223.99999999999997, 100%, 97.05882352941177%, 1);
}

.palette-background-color {
  color: hsla(223.99999999999997, 100%, 97.05882352941177%, 1);
}

.palette-card-background-background-color {
  background-color: hsla(0, 0%, 100%, 1);
}

.palette-card-background-color {
  color: hsla(0, 0%, 100%, 1);
}

.palette-text-primary-background-color {
  background-color: hsla(0, 0%, 20%, 1);
}

.palette-text-primary-color {
  color: hsla(0, 0%, 20%, 1);
}

.palette-text-secondary-background-color {
  background-color: hsla(0, 0%, 50.98039215686274%, 1);
}

.palette-text-secondary-color {
  color: hsla(0, 0%, 50.98039215686274%, 1);
}

.palette-text-tertiary-background-color {
  background-color: hsla(0, 0%, 74.11764705882354%, 1);
}

.palette-text-tertiary-color {
  color: hsla(0, 0%, 74.11764705882354%, 1);
}

.palette-text-dark-contrast-background-color {
  background-color: hsla(0, 0%, 100%, 1);
}

.palette-text-dark-contrast-color {
  color: hsla(0, 0%, 100%, 1);
}

.palette-text-high-emphasis-background-color {
  background-color: hsla(223.66863905325442, 83.25123152709361%, 60.19607843137255%, 1);
}

.palette-text-high-emphasis-color {
  color: hsla(223.66863905325442, 83.25123152709361%, 60.19607843137255%, 1);
}

.palette-text-low-emphasis-background-color {
  background-color: hsla(240, 54.010695187165766%, 36.66666666666667%, 1);
}

.palette-text-low-emphasis-color {
  color: hsla(240, 54.010695187165766%, 36.66666666666667%, 1);
}

.palette-primary-color-background-color {
  background-color: hsla(223.66863905325442, 83.25123152709361%, 60.19607843137255%, 1);
}

.palette-primary-color-color {
  color: hsla(223.66863905325442, 83.25123152709361%, 60.19607843137255%, 1);
}

.palette-primary-color-ligth-background-color {
  background-color: hsla(223.99999999999997, 100%, 97.05882352941177%, 1);
}

.palette-primary-color-ligth-color {
  color: hsla(223.99999999999997, 100%, 97.05882352941177%, 1);
}

.palette-secondary-color-background-color {
  background-color: hsla(240, 54.010695187165766%, 36.66666666666667%, 1);
}

.palette-secondary-color-color {
  color: hsla(240, 54.010695187165766%, 36.66666666666667%, 1);
}

.palette-tertiary-color-background-color {
  background-color: hsla(221.93548387096772, 86.91588785046729%, 20.980392156862745%, 1);
}

.palette-tertiary-color-color {
  color: hsla(221.93548387096772, 86.91588785046729%, 20.980392156862745%, 1);
}

.palette-red-color-background-color {
  background-color: hsla(0, 78.72340425531912%, 63.13725490196078%, 1);
}

.palette-red-color-color {
  color: hsla(0, 78.72340425531912%, 63.13725490196078%, 1);
}

.palette-orange-color-background-color {
  background-color: hsla(28.214285714285715, 86.59793814432989%, 61.96078431372549%, 1);
}

.palette-orange-color-color {
  color: hsla(28.214285714285715, 86.59793814432989%, 61.96078431372549%, 1);
}

.palette-yellow-color-background-color {
  background-color: hsla(45.18072289156627, 86.45833333333333%, 62.35294117647059%, 1);
}

.palette-yellow-color-color {
  color: hsla(45.18072289156627, 86.45833333333333%, 62.35294117647059%, 1);
}

.palette-green-color-background-color {
  background-color: hsla(145.33333333333331, 63.38028169014084%, 41.76470588235294%, 1);
}

.palette-green-color-color {
  color: hsla(145.33333333333331, 63.38028169014084%, 41.76470588235294%, 1);
}

.design-typography-font-style10 {
  font-family: "Montserrat-SemiBold",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: hsla(0, 0%, 20%, 1);
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

.design-typography-font-style9 {
  font-family: "Montserrat-Bold",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: hsla(0, 0%, 20%, 1);
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

.design-typography-font-style8 {
  font-family: "Inter-Medium",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: hsla(0, 0%, 20%, 1);
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

.design-typography-font-style7 {
  font-family: "Inter-SemiBold",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: hsla(0, 0%, 20%, 1);
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

.design-typography-font-style4 {
  font-family: "Inter-Regular",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: hsla(0, 0%, 20%, 1);
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

.design-typography-font-style3 {
  font-family: "Inter-SemiBold",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: hsla(0, 0%, 20%, 1);
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

.design-typography-font-style2 {
  font-family: "Inter-Medium",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: hsla(0, 0%, 20%, 1);
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

.design-typography-font-style1 {
  font-family: "Inter-Regular",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: hsla(0, 0%, 20%, 1);
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

.design-typography-font-style12 {
  font-family: "Montserrat-SemiBold",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 96px;
  color: hsla(0, 0%, 20%, 1);
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

.design-typography-font-style11 {
  font-family: "Montserrat-Bold",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  color: hsla(0, 0%, 20%, 1);
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

.design-typography-font-style6 {
  font-family: "Inter-Medium",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: hsla(0, 0%, 20%, 1);
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

.design-typography-font-style5 {
  font-family: "Inter-Bold",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: hsla(0, 0%, 20%, 1);
  letter-spacing: 0px;
  text-align: start;
  text-decoration: none;
}

